.form {
  position: absolute;
  top: 2.5rem;
  left: 28%;
  color: #FFFFFF;
  padding: 5.31rem 0;
  min-width: 45.43rem;
  margin: 0 auto;
  background: #0B0C0C;


  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
  }

}
