.form {
  position: absolute;
  top: 2.5rem;
  left: 28%;
  color: #FFFFFF;
  padding: 5.31rem 0;
  min-width: 45.43rem;
  margin: 0 auto;
  background: #0B0C0C;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 75%, 75% 100%, 20% 100%, 0 100%, 0 0);


  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
  }


  &__inputName {
    margin-top: 3rem;
  }


  &__button {
    position: relative;
    margin-top: 2rem;
    background: #FF1822;
    padding: 1.8rem 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 110%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 92% 100%, 0 100%, 0 50%);

    &::before {
      content: '';
      width: 5rem;
      height: 1px;
      background: #FFFFFF;
      position: absolute;
      top: 50%;
      left: -2.5rem;
    }
  }

  &__errorInputText{
    font-size: 10px;
    font-weight: 500;
    color: #FF1822;
  }

  &__errorInput {
    border: 1px solid #FF1822;
  }
}


